* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 110rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}
.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}
img{
    width: 100%;
}
.ylo{
    color:red;
}
.grn{
    color:green;
}